# Environment
.config
.env
.vscode
config/data/act-pr-event.json
debug.log
DEVHUB_SFDX_URL.txt
node_modules/
PACKAGING_SFDX_URL.txt
plugins/ExtraCodeCoverage
rollup-namespaced/source
yarn.lock

# Salesforce
.localdevserver/
.sf/
.sfdx/
.sflogsub
.vim-force.com/
**/jsconfig.json
**/main/default/
coverage/
tests/apex

# Code Analyzer
.pmdCache
sfge-*.log.gz

# OSX
.DS_Store