.env
node_modules/
.vim-force.com/
yarn.lock
.sfdx/
.localdevserver/
debug.log
DEVHUB_SFDX_URL.txt
PACKAGING_SFDX_URL.txt
tests/apex
**/main/default/
coverage/
plugins/ExtraCodeCoverage
.sf/
rollup-namespaced/source
sfge-*.log.gz
#PMD
.pmdCache
#OSX
.DS_Store
.config
.vscode
config/data/act-pr-event.json
.sflogsub