.env
node_modules/
.vim-force.com/
yarn.lock
.sfdx/
.sf/
.localdevserver/
debug.log
DEVHUB_SFDX_URL.txt
PACKAGING_SFDX_URL.txt
tests/apex
**/main/default/
coverage/
plugins/ExtraCodeCoverage
.sf/
rollup-namespaced/source
sfge-*.log.gz
#scripts/test.ps1
#PMD
.pmdCache
#OSX
.DS_Store
