# Unique name for this workflow
name: Rollup Scratch Org Test Run

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'sfdx-project.json'
      - 'README.md'
      - 'Contributing.md'
      - 'CODE_OF_CONDUCT.md'
      - 'package.json'
      - 'LICENSE'
      - 'media/**'
      - '.gitignore'
      - '.prettierignore'
      - '.prettierrc'
  pull_request:
    types: [opened, edited, synchronize, reopened]
    paths-ignore:
      - 'sfdx-project.json'
      - 'README.md'
      - 'Contributing.md'
      - 'CODE_OF_CONDUCT.md'
      - 'package.json'
      - 'LICENSE'
      - 'media/**'
      - '.gitignore'
      - '.prettierignore'
      - '.prettierrc'

jobs:
  scratch-org-test:
    runs-on: ubuntu-latest
    environment: Test
    steps:
      # Install Salesforce CLI
      - name: Install Salesforce CLI
        run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
          mkdir sfdx-cli
          tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1
          ./sfdx-cli/install

      # Checkout the code
      - name: 'Checkout source code'
        uses: actions/checkout@v2

      # Store secret for dev hub
      - name: 'Populate auth file with DEVHUB_SFDX_URL secret'
        shell: bash
        run: 'echo ${{ env.DEVHUB_SFDX_URL }} > ./DEVHUB_SFDX_URL.txt'
        env:
          DEVHUB_SFDX_URL: ${{ secrets.DEVHUB_SFDX_URL }}

      - name: 'Run build script, test, and exit'
        shell: bash
        run: 'sh ./scripts/test.sh'
